ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    display: block;
    width: 100%;
    border: none;
    background-color: #804515;
   
}
.zijkantL{
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: red; 
    padding-top: 60px; /* Place content 60px from the top */
}
.zijkantR{
    height: 100%; 
    width: 20%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right:0;
    background-color: red; 
    padding-top: 60px; /* Place content 60px from the top */
    
}

  .horizontaal{
    display: inline-block;
    white-space: nowrap; 
    width: 10%;
    min-width: 100px;
    overflow: hidden;
    text-overflow: clip; 
    
}
div{
    margin:30px;
    padding: 0px;
    border: 0px;
}

.tekstvak{
    background-color: #804515;
    vertical-align: center;
   
}

.knop {
    background-color: #d36000;
    border: none;
    color: red;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: Verdana;
}
