body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: block;
    border: none;
    background-color: #EEAF55  ;
   
}
html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: block;
    border: none;
   
}
object{
    margin: 0px;
    padding: 0px;
    display: block;
    border: none;
}
.rechts{
    position: fixed;
    top: 100px;
    right: 0px;
    bottom: 0px;
    height: 90%; 
    width: 100px;
    z-index: 2;
}
.links{
    position: fixed;
    top: 100px;
    left: 0px;
    bottom: 0px;
    height: 90%;
    width: 200px;
    z-index: 2;
}
.boven{
    position: fixed;
    top: 0px;
    width: 100%; 
    height :100px;
    z-index: 2;
}



.games{
    position: relative;
}

 .dropdown {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


 
.show {
    display: block;
}  




.midden{
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    top: 100px;
    max-width: 600px;
    min-width: 600px;
    
}
.foto{
    display: block;
    max-width: 450px;
    transform: translate(15%, 0);
    margin: auto;
}
.naam{
    text-align: center;
    font-size: 3vw;
}


.centreer{
    position: absolute;
    top: 200px;
    margin: auto;
    left: 50%;
}


.directtonen{
    height: 100px;;
    width:100%;
    margin: auto;
    left: 50%;
}

.directtonen img{
    height: 100px;
    vertical-align: center;
    float: left;
}

.wvg{
    margin-right: 100px;
    margin-left: 200px;
    margin-top: 105px;
    z-index: 1;
}

.blokken{
    max-width: 700px;
    min-width: 500px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: rgb(220, 220, 220);
    padding: 4px;

    position: relative;
}

.blokkenvanbinnen{
    max-width: 500px;
    min-width: 500px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: rgb(220, 220, 220);
    padding: 4px;

    position: relative;
}

.titel{
    max-width: 400px;
    min-width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
   
}
.pijl{
    height: 35px;
    max-width: auto;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    
}
.horizontaal{
    display: inline-block;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    vertical-align: middle;

}
ul{
    list-style-type: none;
    margin: 0px;
}
.top{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}




.profieldata{
    position: relative;
    margin: auto;
    display: block;
}







/* MULTIPAGE STYLES */ 
div.pagecenterdiv{
    max-width: 500px;
    min-width: 500px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: rgb(220, 220, 220);
    padding: 4px;

    position: relative;
     
}

div.pagecenterinnerdiv{
    max-width: 420px;
    min-width: 420px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  
}

input.bigtextfield{
    width: 410px;
    height: 30px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    font-size: 23px;
}

input.mediumtextfield{
    width: 200px;
    height: 20px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    font-size: 15px; 
}

select.mediumdropdown{
    width: 210px;
    height: 25px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    font-size: 15px; 
}

div.buttoncenterdiv{
    width: 420px;
    height: 32px;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;  
}

textarea.bigtextarea{
    width: 414px;
    height: 160px;
    resize: none;
}

.centerdiv{
    text-align: center; 
}

.verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input.bigbutton{
    width: auto;
    height: 30px;
    font-size: 15px;
}

.subjectheader{
    text-align: center;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.spananchor{
    position: absolute;
    top: -150px;
}


/* FORMS STYLES */
.formError{
    margin-top: 0px;
    margin-bottom: 16px;
}

.formNoError{
    margin-bottom: 16px;
}

.redErrorText{
    color: red;
}

.hintText{
    color: gray;
    font-size: 14px; 
}

.greenErrorText{
    margin-top: 0px;
    color: green;
}

.formborder{
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: rgb(194, 194, 194);
    margin: 5px;
    padding: 4px;
}

div.formparagraph{
    margin-top: 25px;
}




/* SEARCH STYLES */
.searchdiv{
    max-width: 500px;
    min-width: 500px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: rgb(194, 194, 194);
    padding: 4px;

}

.resultsdiv{
    max-width: 1320px;
    min-width: 500px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: rgb(220, 220, 220);
    padding: 4px;

}

.searchresult{
    max-width: 300px;
    min-width: 300px;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    border: 2px;
    border-style: solid;
    border-color: gray;
    background-color: lightgray;
    padding-left: 5px;

    display: inline-block;
}

.searchbutton{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}

.buttonright{
    float: right;
}

.gamenameright{
    float: right;
    text-align: right;
}

.resultboxcenter{
    width: 200px;
    margin-left: auto;
    margin-right: auto;  
}