ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    display: block;
    width: 100%;
    border: none;
    background-color: #2C6DA7;
   
}


.horizontaal{
    display: inline-block;
    white-space: nowrap; 
    max-width: 24%;
    
    
    text-overflow: clip; 
    
}


.tekstvak{
    background-color: #65A094;
    vertical-align: baseline;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    
    border-radius: 10px;
    
    
   
}

.knop {
    background-color: #65A094;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: Verdana;
    margin: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    
}


div.pagecenterdiv{
    max-width: 80%;
    min-width: 80%;

    
    margin-left: 200px;
    margin-right: 200px;

    text-align: center;
    
    

    position: relative;
    
     
}



.afbeelding{
    position :absolute;
    width: 100px;
    top: 3px;
    left: 50px;
    width: 70px;
}



.vergrootglas{
    height: 20px;
    vertical-align: middle;
}


.nomarkup{
    text-decoration: none;
    color: rgb(89, 91, 110);
}